<table bgcolor='lightgray' width='100%'> 
    <tr>
    <td width='20%' align='left'>
        <a href="/">
            <img src="/images/logo.png" width="70" height="40"> 
        </a>
    </td> 
    <td width='60%' align='center'>
        <h1>Darzi</h1>
    </td>
    <td width='10%' align='center'>Login Control</td>
    <td width='10%' align='center'>Cart Control</td>
    </tr>
</table>

<p> SEARCH CONTROL </p>
<ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/about">About Us</a> </li>
    <li> <a href="/contact">Contact Us</a></li>
    <li> <a href="/customer">Customer</a></li>
    <li> <a href="/tailor">Tailor</a></li>
    <li> <a href="/order">Order</a></li>
    <li> <a href="/sale">Sale</a></li>
    <li> <a href="/review">Review</a></li>
</ul>