<!DOCTYPE html>
<html>
  <head>
    <title>Darzi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Darzi - Tailoring made Simple</h1>
    <p>Welcome to Darzi.</p>
    <p>Place the order for your next custom tailored clothes!</p>
  </body>
</html>
